Should HTTP HEAD method be supported by all APIs?

Using HEAD may be convenient to check the connection to APIs/endpoints before sending a GET or other request.

[RFC 7231 section 4.1](https://tools.ietf.org/html/rfc7231#section-4.1), below the table describing the standardized methods, says "All general-purpose servers MUST support the methods GET and HEAD. All other methods are OPTIONAL."

Perhaps the auto tests for every API could check whether HEAD is supported and at least WARN if it isn't? Is the above enough that it should be a FAIL?

@jasperpeeters @andrewbonney 




@andrewbonney  suggest we add a WARNING to the auto tests if any endpoint that supports GET doesn't also support HEAD.

we support this enhancement. We actually spottet a couple of devices not supporting HEAD during the latest workshop

Some work on this in https://github.com/AMWA-TV/nmos-testing/commit/c28a949ee499a880a7f8db450f425a238d2504b8, although it requires more changes than I would have liked so may be best refactored first.

This issue has been labelled as an enhancement and captured on the internal roadmap which will determine when resources can be allocated to address it.