[Auth] Test correct handling of issuer URLs with path components

Following merge of #599, we might also want to consider a test case involving an issuer with a URL path component, e.g. `https://mocks.testsuite.nmos.tv:{port}/testpath`, so that we check that they go to the right well-known URL, i.e. `https://mocks.testsuite.nmos.tv:{port}/.well-known/oauth-authorization-server/testpath` ? This behaviour is specified by [RFC 8414 Section 3.1](https://www.rfc-editor.org/rfc/rfc8414#section-3.1).