IS-04 Node API test 3 failing due to charset being in the content type

I have noticed that my code is failing the test above due to having the following string as the content type: `application/json; charset=utf-8` which seems to be ok, so the test suite might need updating. Also, it would be good if the test suite would dump the actual value in the results as I had to add that code manually in order to debug this issue. Unfortunately, this is the case with many other tests so it might be worth adding another issue to go through all the tests and add debugging info like that where applicable, but especially in cases of comparisons like this. (Having the expected vs. actual value in the response)

OK, thanks for the additional information. I've now overridden the default behaviour in my code in order to pass the test, although I am still not sure if this should cause test failure...

The sentence that explains `charset` isn't defined for application/json is found at https://www.iana.org/assignments/media-types/application/json and https://tools.ietf.org/html/rfc8259#page-12.

```
Note:  No "charset" parameter is defined for this registration.
   Adding one really has no effect on compliant recipients.
```

> I am still not sure if this should cause test failure...

I agree! Given how common it is, should we treat `charset=utf-8` as a WARNING rather than FAIL, @andrewbonney? (Other character sets should be FAIL, based on [RFC 8259 Section 8.1](https://tools.ietf.org/html/rfc8259#section-8.1).)


Yes I'd be happy to downgrade it to a warning. I'll prepare a change which does that and indicates in the results what value has been found.